*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

li, a{
	font-family: "Bebas Neue";
	font-weight: 500;
	margin-top: 10px;
	font-size: 29px;
	color: #fff;
	text-decoration: none;
}
button{
	font-family: "Bebas Neue";
	font-weight: 500;
	font-size: 30px;
	color: rgb(111, 0, 255);
	text-decoration: none;
}


header{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10%;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	opacity: 1;
}



.logo{
	cursor:pointer;
	display: table;
	width: 320px;
}

.nav__links{
	list-style: none;
}

.nav__links li{
	display: inline-block;
	padding: 0px 2px;
}

.nav__links li a{
	transition:  all 0.3s ease 0s;
}
.nav__links li a:hover{
	color: #7700ff;
}

button{
	padding: 12px 20px;
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover{
	background-color: rgba(255, 255, 255, 0.726);
}



body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;

}

.contato{
	position: absolute;
	background-color: white;
	border-radius: 10px;
	top: 240px;
	left:1300px;
	width: 320px;
	height: 400px;
}

.contato h2{
	font-family: "Bebas Neue";
	color:rgb(132, 0, 255);
	position: absolute;
	top: 20px;
	left:30px;
}
.formContato{
	position: absolute;
	background-color: white;
	width: 265px;
	height: 310px;
	top: 60px;
	left:28px;
}
form input[type="submit"] {
	
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #4776E6, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}


.conheca{
	margin-top: 640px;
	font-family: "Bebas Neue";
	font-size: 90px;
	color:rgb(132, 0, 255);
	
}
.coluna{
	float: left;
	width: 33.33%;
}